.information {
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 850px) {
    .information {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
