.dayName {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    li {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .active {
        color: #c5d9eb;
    }

    li + li {
        margin-left: 50px;
    }
}

@media (max-width: 650px) {
    .dayName {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            text-align: center;
            padding: 15px;
        }

        li + li {
            margin-left: 0;
        }
    }
}
