.hourly-wheater {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .day {
        width: 150px;
        margin: 10px;
    }
}

@media (max-width: 650px) {
    .hourly-wheater {
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
}
