.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    .loadingPage {
        width: 40%;
        min-height: 60%;
        background-color: #3E5F7C;  
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .page {
        width: 40%;
        min-height: 60%;
        background-color: #3E5F7C;  
        border-radius: 5px;
    }
}

@media (max-width: 900px) {
    .app{
        .page {
            min-height: 50%;
        }
    }
}



